---
layout: default
---

<style type="text/css">
	p {
		padding: 12px;
	}
</style>

<h1>{{ page.title }}</h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<figure class="figure">
			<img src="/assets/artur.jpg" class="img-fluid rounded" alt="Tutu">
			<figcaption class="figure-caption">Visita à Itaipu Binacional (Julho, 2016).</figcaption>
		</figure>
	</div>
	<div class="col-md-8">
		<p>Olá, meu nome é Artur. Eu sou Mestre em Engenharia de Teleinformática e Engenheiro de Computação, formado em ambas pela Universidade Federal do Ceará. Tenho experiência em Visão Computacional, Reconhecimento de Padrões, Aprendizado de Máquina, Ensino de Programação, Ensino de Matemática, Sistemas Embarcados, Programação de Jogos e Tecnologias Web. Minhas áreas de maior interesse são Extração de Atributos e Representação de Imagens (em especial as tridimensionais).</p>
	</div>
</div>

<p>Além do interesse de formação pelas ciências duras, eu dedico parte da minha pesquisa a outras esferas do conhecimento humano, em especial política, economia e sociologia, sempre através do prisma da tradição crítica latino-americana fundada ao longos do anos por nomes com José Martí, Ruy Mauro Marini, Vânia Bambirra, Oscar Varsavsky, Darcy Ribeiro, entre muitos outros. Este blog é um espaço de discussão desses e de outros temas. Todos os ensaios encontrados aqui estão em perpétua mudança, alguns mais explicitamente que outros; é muito comum encontrar textos inacabados.</p>

<p>Eu acredito que o Engenheiro no Brasil tem formação incompleta; sobra ferramentário prático, falta consciência crítica. Este blog tem como objetivo se construir enquanto espaço de debate crítico e holístico de áreas do conhecimento muitas vezes colocadas como opostas, independentes; no limite, um espaço de construção do socalismo como um todo.</p>
