<!doctype html>
<html lang="pt-br">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
	</head>
	
	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="navbar-brand nav-link" href="#">Início</a>
					</li>
				</ul>
			</nav>
			
			<h1>{{ page.title }}</h1>
			
			<section>
				{{ content }}
			</section>
			
		</div>
		<footer>
		</footer>
  </body>
  
</html>
